
<!-- BOTTOM CONTAINER //-->
<div id="bottom_container">
	<div id="barrier"><%=render :partial=>"date_range"%></div>
	<div id="content"><!-- Main content goes here --></div>
</div>

<!-- TOP CONTAINER //-->
<div id="page_headline"><%=image_tag "header.png", :alt=>"Timetrack Image"%></div>

<div id="top_container">
	<%=render :partial=>@top_frame%>
</div>



