/*
css include for the landing page. this is the general layout.
*/
#page_headline{
	font-size:72px;
	text-align:center;
	color:white;
	/*margin:20px;*/
}

#bottom_container{
	width:100%;
	height:100%;
	padding-top:50px;
	position:absolute;
	left:0px;
	top:1600px;
	z-index:100!important;
	background:white;
}

#bottom_container #content{
	margin-top:63px;
	width:100%;
	/*height:100%;*/
	position:absolute;
	top:0px;
	left:0px;
	background:white;
	
}

#bottom_container #barrier{
	height:63px;
	width:100%;
	background: #0b0b0b;
	position:absolute;
	top:0px;
	left:0px;
	-moz-box-shadow: 0px 5px 5px #ccc;
	-webkit-box-shadow: 0px 5px 5px #ccc;
	box-shadow: 0px 5px 5px #ccc;
	opacity:0.92;filter:alpha(opacity=92)!important;
}

#footer{
	width:100%;
	text-align:center;
	background:#eeeeee;
	position:relative;
	left:0px;
}
#footer .text{
	padding:5px;
	font-size:12px;
}

div.auto_complete {
	width: 350px;
	background: #fff;
	z-index:700;
}
div.auto_complete ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.auto_complete ul li {
	margin:0;
	padding:3px;
}
div.auto_complete ul li.selected {
	background-color: #ffb;
}
div.auto_complete ul strong.highlight {
	color: #800; 
	margin:0;
	padding:0;
}
        
        
