
.creation{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}

.project_create .field_entry input{
	width:100%;
	background:#fafafa;
	border: 0px;
	font-size:18px;
	color:#888888;
	
}
.project_create .field_entry input{
	border:1px solid #dddddd;
	width:200px;
}

.project_create .project_submit{
	padding:6px;
	margin:1px;
}
.project_create .project_submit input{
	
	font-size:10px;
	height:25px;
	border:1px solid #0db211;
	background-color:#00790e;
	background-image: url('/images/green_button.jpg');
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor:pointer;
	color:white;
}
