<table class="user_profile">
	<tr>
		<td>
			<div id="default_picture">
			<%if @user.email != nil%><%=image_tag gravatar_url(@user.email.address, {:size=>"75", :rating=>"pg"})%><%end%>
			</div>
		</td>
		<td>
			<div id="edit_profile"><%= best_in_place @user, :name %></div>
			<div id="edit_location"><%= best_in_place @user, :location %></div>
		</td>
	</tr>
</table>
	
