<%=render :partial=>"landing/server_message"%>

<%@email = Email.new()%>
<div id="profile_center">
	<div id="email_tip" class="tip">
		<div class="arrow-right"></div>
		<div class="text">Link an email, and use <a href="http://www.gravatar.com/" target="_new">Gravatar</a> for your pic.</div>
	</div>
	<div id="profile_container">
		<div id="mini_profile">
			<%=render :partial=>"profile/mini_profile"%>
		</div>
		<div id="email_list" class="email_list">
			<%=render :partial=>"profile/email_list"%>
		</div>
	</div>
	<br /><br />
	<div id="done_button"<%if @user.email == nil%> style="display:none;"<%end%>><input type="button" value="done" class="button"></div>
</div>

<div id="logout"><%=link_to "[Logout]", :controller=>"login", :action=>"logout"%></div>
