<!DOCTYPE html> <!-- The new doctype -->

<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Sign up | Timetracker</title>

	<%= stylesheet_link_tag "style.css"%>

	<!-- Internet Explorer HTML5 enabling script: -->

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">

			.clear {
				zoom: 1;
				display: block;
			}

		</style>

	<![endif]-->

</head>

<body>

<%=yield%>
</body>

</html>
